
.jumbotron {
    background-color: red;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0ch;
}

footer{
    background-color: #f5f5f5;
    margin-top: 10rem;
    margin-bottom: 0;
    padding: 2rem;
}

.card{
    text-align: center;
    background-color: whitesmoke;
}

div h6, div h1{
    text-align: center;
}